.footer {
  background-color: #395899;
  padding: 20px 0;
}

.footer-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #FEFFFB;
}